body{
    background-color: beige;
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: pink;
    color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.navbar h1{
    font-size: 40px;
    margin: 0;
}
#task{
   background-color: white;
    width: 450px;
    margin: 40px auto 20px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
#taskInput{
    width: 60%;
    padding: 14px;
    font-size: 18px;
    border:1px solid #d8a7b1;
    outline: none;
    border-radius: 10px;
}
#taskInput:focus {
    border-color: #b76e79;
}
#addButton{
width:20%;
padding: 10px;
border:1px solid #d8a7b1;
 border-radius: 10px;
 outline: none;
 color: #b76e79;
 font-size: 16px;
 background-color: white;
}
.box{
    background-color: white;
    width: 450px;
    margin: 40px auto 20px;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.box ul{
    list-style: none;
    padding: 0;
}
.box li{
    background-color: #d8a7b1;
    font-size: 25px;
    display: flex;
    gap: 12px;
   background-color: #fce4ec;
    margin: 15px 0;
    padding: 15px;
    align-items: center;
    border-radius: 10px;
}
.box taskInput[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.box taskInput[type="checkbox"]:checked+span{
  text-decoration: line-through;
  color: gray;
}
.completed {
    text-decoration: line-through;
    opacity: 0.5;
}
